@media (min-width: 300px) and (max-width: 426px) {
    .my-label {
        text-align: center;
        width: 100%;
    }
    .my-label p{
        text-align: center;
        text-indent: 0px;
        margin-bottom: 0;
        font-size: 14px;
    }
    .my-input label{
        font-size: 12px;       
    }
    .my-input select{
        margin-bottom: 30px;
        width: 71%;
        padding: 5px;
        font-size: 12px;
    }
    .my-input input{
        margin-bottom: 30px;
        width: 20%;
        padding: 2px 0px 2px 2px;
        font-size: 12px;
        margin-right: 5px;
    }
    .my-input {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .footer-info {
        width: 100%;
        padding: 0px 0px;
    }
    .det-label>div {
        width: 100%;
        float: none;
        padding-left: 30px;
        text-align: left;
        vertical-align: middle;
    }
    .det-label input {
        transform:scale(2);
    }
    h2 {
        font-size: 25px;
        margin-top: 40px;
    }
    .calc-container p {
        font-size: 16px;
        margin-bottom: 0;
    }
    .btn-up {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }
    .companies {
        margin-top: 20px;
    }
    .companies h1 {
        font-size: 30px;
    }
    .face-btn {
        margin: 20px 0px;
        padding: 30px 5px;
    }  
    .btn-play {
        float: none;   
    } 
    .video {
        text-align: center;
    }
    .companies img {
        width: 25%;
        margin: 10px;
    }
    .text-info p{
        font-size: 12px;
        text-indent: 0px;
        margin-bottom: 0;
    }
    .nav-string {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .info-label {
        width:80%;
        margin: 40px 0px;
    }
    .footer-info {
        text-align: center;
        padding: 0px 0px 0px 40px;
    }
    .info-label p  {
        margin-left: 20px;
    }
    .info-label a  {
        margin-left: 20px;
    }
    .buttons{
        margin-top: 0px;
    }
    .sel-shell::after {
        font-size: 13px;      
    }
    .sel-shell {
        width: 100%;  
    }
    .plus-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .plus-container p { 
        font-size: 16px;
        padding: 5px 0px 0px 10px;
    }
    .plus input{
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
    } 
    .big-btn>div {
        margin-bottom: 30px;
        padding: 0px;
    }
    h4 {
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
}