/* 
 950px - 1050px
 800px - 949px collapse menu
 650px - 799px collapse menu
 450px - 649px collapse menu
 300px - 449px collapse menu and hide img
 */

@media (min-width: 950px) and (max-width: 1050px) {
    
    .phones ul li {
        font-size: 14px;   
    }
    .social-networks a{
        font-size: 20px;
        margin: 6px;
    }
    .product-card button{
        padding: 10px 15px;
    }
    .adv-content>div img{
        top: -40px;
        left: 0px;
    }
    .image img {
        height: 70%;;
    }
    .review {
        width: 55%;
    }
    .client {
        width: 40%;
    }
}

@media (min-width: 800px) and (max-width: 949px) {
    .container {
        width: 80%;
    }
    .phones ul li {
        font-size: 12px;
    }
    .social-networks a{
        font-size: 20px;
        margin: 6px;
    }
    .product-card button{
        padding: 10px 15px;
    }
    .adv-content>div img{
        top: -40px;
        left: 0px;
    }
    .image img {
        height: 50%;;
    }
    .review {
        width: 55%;
    }
    .client {
        width: 40%;
    }
    .about-content {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
}

@media (min-width: 650px) and (max-width: 799px) {
    .container {
        width: 80%;
    }
    .phones ul li {
        font-size: 12px;
    }
    .social-networks a{
        font-size: 20px;
        margin: 6px;
    }
    .product-card button{
        padding: 10px 15px;
    }
    .adv-content>div img{
        top: 0px;
        left: 25px;
    }
    .image img {
        height: 50%;;
    }
    .review {
        width: 55%;
    }
    .client {
        width: 40%;
    }
    .products-content {
        grid-template-columns: 1fr 1fr;
    }
    .adv-content {
        grid-template-columns: 1fr;
    }
    .about-content {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .reviews {
        display: none;
    }
    .news-content {
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .news-img {
        height: 150px;
    }
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }
    .collapsible {
        display: block;
    }
    .navbarContent {
        display: none;
        /* overflow: hidden; */
    }
}

@media (min-width: 450px) and (max-width: 649px) {
    .container {
        width: 80%;
    }
    .phones ul li {
        font-size: 12px;
    }
    .social-networks a{
        font-size: 20px;
        margin: 6px;
    }
    .product-card button{
        padding: 10px 15px;
    }
    .adv-content>div img{
        top: 0px;
        left: 25px;
    }
    .image img {
        height: 50%;;
    }
    .review {
        width: 55%;
    }
    .client {
        width: 40%;
    }
    .products-content {
        grid-template-columns: 1fr 1fr;
    }
    .adv-content {
        grid-template-columns: 1fr;
    }
    .about-content {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .reviews {
        display: none;
    }
    .news-content {
        grid-template-columns: 1fr; 
        text-align: center;
    }
    .news-img {
        height: 50%;
    }
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }
    .header-content {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .social-networks {
        display: none !important;
    }
    .header-content>div {
        padding: 15px;
    }
    .header-sldr {
        display: none;
    }
    .navbarContent {
        display: flex;
    }
    .collapsible {
        display: block;
    }
    .navbarContent {
        display: none;
        /* overflow: hidden; */
    }
}

@media (min-width: 300px) and (max-width: 449px) {
    .container {
        width: 90%;
    }
    .phones ul li {
        font-size: 12px;
    }
    .social-networks a{
        font-size: 20px;
        margin: 6px;
    }
    .product-card button{
        padding: 10px 15px;
    }
    .adv-content>div img{
        top: 0px;
        left: 0px;
    }
    .image img {
        height: 50%;;
    }
    .review {
        width: 55%;
    }
    .client {
        width: 40%;
    }
    .products-content {
        grid-template-columns: 1fr;
    }
    .adv-content {
        grid-template-columns: 1fr;
    }
    .about {
        display: none; 
    }
    .reviews {
        display: none;
    }
    .news-content {
        grid-template-columns: 1fr; 
        text-align: center;
    }
    .news-img {
        height: 50%;
    }
    .footer-content {
        grid-template-columns: 1fr;
    }
    .header-content {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .social-networks {
        display: none !important;
    }
    .header-content>div {
        padding: 15px;
    }
    .header-sldr {
        display: none;
    }
    .header-menu ul li {
       margin: 10px 0px !important;
    }
    .collapsible {
        display: block;
    }
    .navbarContent {
        display: none;
        /* overflow: hidden; */
    }
    .navImg {
        display: none;
    }
    .navbarContent ul{
        display: flex;
        flex-flow: column;
    }
    .navbarContent ul li a{
        display: block;
        text-align: left;
        font-size: 15px;
        padding: 10px;
    }
}