@media (min-width: 300px) and (max-width: 550px) {
    .container {
        width: 90%;
    }
    .header>div {
        display: table;
    }
    .string {
        display: table;
    }
    .buttons button {
        font-size: 18px;
        margin: 5px;
        padding: 10px;
    }
    .header-logo img {
        height: 70px;
    }
}