@media (min-width: 300px) and (max-width: 550px) {
    .container {
        width: 90%;
    }
    .header>div {
        display: table;
    }
    .string {
        display: table;
    }
    .buttons button {
        font-size: 13px;
        margin: 5px;
    
    }
    .header-logo img {
        height: 70px;
    }
    .lesson {
        justify-content: center;
    }
    .task {
        margin: 0px 15px;
    }
    .logo-js {
        margin: 0px 15px;
    }
    .logo-html {
        margin: 0px 15px;
    }
}