@media (min-width: 300px) and (max-width: 550px) {
    .container {
        width: 90%;
    }
    .header>div {
        display: table;
    }
    .string {
        display: table;
    }
    .buttons button {
        border: none;
        background: #F0DB4F;
        color: rgb(68, 64, 59);
        font-size: 18px;
        margin: 5px;
        padding: 10px;
    }
    .logo img {
        display: none;
    }
}