html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* header */
.header {
    background: rgb(117, 169, 248);
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.header>div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-logo img {
    height: 100px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #323330;
    padding: 15px;
}
/* content */
.string {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    border-bottom: 1px solid rgb(117, 169, 248);
    padding: 15px 0;
}
.lesson {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 50px;
    background: rgb(117, 169, 248);
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 66, 66);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(82, 80, 67);
}
.lesson-discription {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 5px;
}
.lesson-discription p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(107, 97, 97);
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.buttons button {
    border: none;
    background: rgb(255, 211, 67);
    color: rgb(68, 64, 59);
    margin: 5px;
    font-size: 18px;
    padding: 10px;
}


/* footer */
.footer {
    background: rgb(117, 169, 248);
}
.footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #323330;
    padding: 5px;
}
