/* header */
.container-nav {
    width: 95%;
}
.my-header img {    
    height: 40px;
}
.logo-navbar {
    background: rgb(36, 34, 34);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.location {
    height: 20px;
}
.ul-nav li a {
    color: white !important;
    font-size: 12px;
}
.ul-nav li a:hover{
    color:orange !important;
    font-size: 12px;
}
.locat {
    color: white !important;
    background: transparent !important;
}
.navbar-brand {
    padding: 5px 10px 10px 10px;
}
.ul-nav {
    width: 90%;
}
.drop-menu {
    background: rgb(36, 34, 34);
}
.drop-menu li{
    float: left;
    border-bottom: 2px dashed rgba(245, 152, 12, 1);
    font-size: 14px !important;
    color: rgba(245, 152, 12, 1) !important;
    text-align: center;
    margin: 0px 10px;
}
.drop-menu li a{
    color: rgba(245, 152, 12, 1) !important;
    background: none !important;
}
.drop-menu li a:hover{
    color: rgba(245, 152, 12, 1) !important;
    background: rgb(66, 64, 64) !important;
    border-radius: 10px;
}

/* face */
.face {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(img/main.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.face-container {
    width: 95%;
}
.companies {
    margin-top: 80px;
}
.companies h1 {
    font-size: 50px;
    padding-right: 50px;
    color: white;
}
.buttons{
    margin-top: 80px;
}
.companies img {
    width: 20%;
    margin: 10px 80px 10px 0px;
}
.companies>div {
    width: 100%;
}
.video {
    display: table;
    clear: both;
    margin-bottom: 30px;
}
.btn-play {
    width: 80px;
    height: 60px;
    border-radius: 11px;
    color: rgba(245, 152, 12, 1);
    font-size: 40px;
    border: none;
    background: rgb(36, 34, 34);
    float: left;
    display: table-cell;
    padding: 6px;
}
.video p {
    font-size: 18px;
    color: white;
    padding-top: 20px;
    text-indent: 20px;
}
.face-btn {
    background: url(img/shadow-block.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: 20px 60px;
    padding: 30px 5px;
    border-radius: 15px;
}   
.face-btn>button {
    background: rgba(245, 152, 12, 1);
    color: white;
    font-size: 14px;
    width: 80%;
    padding: 15px;
    margin: 10px 10px;
    border: none;
    border-radius: 50px;
}
.btn-face {
    background: rgba(245, 152, 12, 1);
    color: white;
    font-size: 14px;
    width: 80%;
    padding: 15px;
    margin: 10px 10px;
    border: none;
    border-radius: 50px;
}

/* calculating */
.calculating {
    background: rgb(36, 34, 34);
}
.calc-container {
    width: 85%;
}
h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}
.calc-container p {
    color: white;
    font-size: 18px;
    text-align: center;
}
.my-label {
    background: rgba(245, 152, 12, 1);
    width: 90%;
    text-align: left;
    margin-top: 30px;
    padding: 10px;
}
.my-label p {
    color: white;
    text-align: left;
    text-indent: 25px;
    margin-bottom: 0;
    font-size: 25px;
}
.my-input {
    padding-top: 30px;
    padding-bottom: 0px;
}
.my-input label{
    color: white;
    font-size: 14px;
    width: 24%;
}
.my-input select{    
    width: 72%;
    padding: 5px 50px 5px 10px;
    font-size: 15px;
    border: none;
}
.sel-shell {
    margin-bottom: 30px;  
    width: 88%;  
    position: relative;
}
.sel-shell::after {
    content: "\25BC";
    position: absolute;
    top: 0px; right: 0px;
    line-height: 2;
    background: rgba(245, 152, 12, 1);
    color: black;
    padding: 0px 7px;
    font-size: 15px;
    pointer-events: none;       
}
.sel-shell label{   
    width: 27%;  
}

/* cargo */
.cargo {
    background: rgb(105, 105, 105);
}
.cargo-container {
    width: 85%;
}
.my-input input{
    margin-bottom: 30px;
    width: 22%;
    padding: 2px 0px 2px 10px;
    font-size: 15px;
    margin-right: 10px;
}

/* Блок +добавить файл */
.plus-cont {
    margin-top: 20px;
    margin-bottom: 20px;   
}
.inp {
    clear: both;
    display: table;
    position: relative;
    color: rgba(245, 152, 12, 1);   
}
.inp input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 40px;
    margin: 0 !important;
    padding: 0;
    cursor: pointer;
}
.inp img {
    width: 40px;
    height: 40px;
}
.inp:hover {
    color:rgba(245, 152, 12, 1);
    text-decoration: underline;
}

/* map */
.map {
    background: rgb(36, 34, 34);
}
.map-container {
    width: 85%; 
}
.myrow button {
    background: rgba(245, 152, 12, 1);
    color: white;
    font-size: 14px;
    width: 250px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    outline: 0 !important;
} 
.myrow button:focus {
    outline: 0;
} 
.myrow button:active {
    outline: 0;
} 
.myrow {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.big-btn>div {
    background: rgb(105, 105, 105);
    width: 100%; 
    margin-bottom: 50px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid ;
    padding: 30px 10px;
}
.big-btn>div:hover {
    border-color: rgba(245, 152, 12, 1);
}
.big-btn img {
    margin: 10px;
    height: 70px;
}
h4 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.big-btn p{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}
.price {
    color: rgba(245, 152, 12, 1);
    font-size: 25px;
}
/* map */
.map-block {
    margin: 0px 0px;
    background: rgb(105, 105, 105);
    border: 1px solid rgb(105, 105, 105);
    border-radius: 5px;
}
.map-info {
    text-align: center;

}
.map-addr{
    padding: 0px 0px;
}
.map-info button {
    background: rgb(36, 34, 34);
    border-color: rgba(245, 152, 12, 1);
    width: 82%; 
    color: white;
    margin-top: 30px;
    font-size: 16px;

}
.text-info {
    text-align: left;
    margin-top: 35px;
}
.text-info p{
    color: white;
    font-size: 16px;
    text-indent: 40px;
    margin-bottom: 0;
}

/* строчка навигации 
как ее правильно сделать? */
.nav-string {
    color: white;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-string a {
    color: white;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.orange {
    color: rgba(245, 152, 12, 1);
}

/* ввод адреса */
.adr-input {
    padding-top: 30px;
    padding-bottom: 30px;
}
.adr-input label{
    color: white;
    font-size: 14px;
    width: 24%;
}
.adr-input input{
    margin-bottom: 30px;
    width: 60%;
    padding: 2px 0px 2px 10px;
    font-size: 15px;
    margin-right: 10px;
}

/* ввод контактных даных
новый див */
.person {
    background: rgb(105, 105, 105);
}
.pers-input {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pers-input label{
    color: white;
    font-size: 14px;
    width: 30%;
}
.pers-input input{
    margin-bottom: 30px;
    width: 55%;
    padding: 2px 0px 2px 10px;
    font-size: 15px;
    margin-right: 10px;
}

/* детали новый див */
.details {
    background: rgb(36, 34, 34);
    padding-top: 50px;
}
.det-label {
    background: rgb(105, 105, 105);
    border-radius: 5px; 
    width: 100%;
    padding: 10px 25px;
    margin-bottom: 20px;
    clear: both;
    display: table;
}
.det-label p {
    color: white;
    font-size: 16px;
}
.det-label a {
    color: rgba(245, 152, 12, 1);
}
.det-hightlight {
    color: rgba(245, 152, 12, 1);
    font-size: 18px;
}
.det-label>div {
    width: 33%;
    float: left;
    padding-left: 30px;
    text-align: left;
    vertical-align: middle;
}
.det-label input {
    transform:scale(1.5);
}
.det-label label {
    font-size: 16px;
    color: rgba(245, 152, 12, 1);
}
.rules-label input {
    float: left;
    margin-right: 10px;

}
.btn-courier {
    text-align: center;
    margin: 50px 0px;
}
.btn-courier button {
    background: rgba(245, 152, 12, 1);
    color: white;
    font-size: 14px;
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    outline: 0 !important;
} 
.btn-courier button:focus {
    outline: 0;
} 
.btn-courier button:active {
    outline: 0;
} 

/* промо */
.promo {
    background: rgb(105, 105, 105);
    text-align: center;
    padding-top: 30px;
}
h5 {
    color: white;
    font-size: 30px;
}
.promo img {
    height: 80px;
    margin-bottom: 20px;
}
.promo-label {
    padding: 30px 50px;
    color: white;
    font-size: 18px;
}
/* футер мап */
.footer-map {
    background: rgb(36, 34, 34);
    margin: 0px 0px;
}
.footer-info {
    text-align: center;
    padding: 160px 0px 0px 100px;
}
.map-fot {
    padding: 0px 0px;
}
.info-label {
    width: 70%;
    clear: both;
    display: table;
    margin: 40px 0px;
}
.info-label>div {
    float: left;
    text-align: left;
}
.info-img {
   width: 15%;
   height: 30px;
}
.info-txt {
    width: 80%;
 }
.info-label img {
    height: 100%;
    width: auto;
    max-width: 100%;
}
.info-label p  {
    color: white;
    margin-left: 15px;
}
.info-label a  {
    color: white;
    margin-left: 15px;
}
/* major express */
.major-express {
    padding: 20px 0px;
    background: rgb(10, 10, 10);
}
.major-express p{
   color: white;
   margin: 0;
}
 
 /* фиксированная кнопка UP */
 .btn-up {
    width: 50px;
    height: 45px;
    border-radius: 11px;
    color: rgba(245, 152, 12, 1);
    font-size: 30px;
    border: 1px solid rgba(245, 152, 12, 1);
    background: rgb(36, 34, 34);
    padding: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}










