/* 
 950px - 1050px
 800px - 949px collapse menu
 650px - 799px collapse menu
 450px - 649px collapse menu
 300px - 449px collapse menu and hide img
 */

 @media (min-width: 650px) and (max-width: 1155px) {
    
    /* footer */
    .halfContainer {
        margin: auto;
	    width: 100%;
        float: none;
        clear: both;
        display: table;
    }
    .newsBox {
	    width: 28%;
    }

    /* textbox */
    .textbox {
	    width: 80%;
    }
    h2 {
	    width: 100%;
    }
}

@media (min-width: 420px) and (max-width: 649px) {

    .container {
        width: 90%;
    }
    /* footer */
    .halfContainer {
        margin: auto;
	    width: 100%;
        float: none;
        clear: both;
        display: table;
    }
    .newsBox {
	    width: 28%;
    }

    /* textbox */
    .textbox {
	    width: 100%;
    }
    h2 {
	    width: 100%;
    }

}

@media (min-width: 300px) and (max-width: 420px) {

    .container {
        width: 90%;
    }
    /* footer */
    .halfContainer {
        margin: auto;
	    width: 100%;
        float: none;
        clear: both;
        display: table;
        text-align: center;
    }
    .newsBox {
	    width: 28%;
    }

    /* textbox */
    .textbox {
	    width: 100%;
    }
    h2 {
	    width: 100%;
    }
    .newsBox {
        width: 100%;
        float: none;
        text-align:center;
    }
    .navMenu {
        float: none;
    }
    .navMenu ul li {
        list-style: none !important;
        float: none;
    }
    .search {
        float: none;
    }
}