html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* agroprom */
.container {
    width: 70%;
    margin: auto;
}
/* header */
.header {
    background: #e7e5e5;
}
.header-content {
    display: grid;
    grid-template-columns: 20% 20% 46% 7% 7%;
}
.header-content>div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phones ul li {
    list-style: none; 
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 3px;
}
.phones ul li p {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    color: black;
}
.phones ul li a {
    text-decoration: none;
    color: black;  
}
.social-networks a{
    color: rgb(40, 20, 105);
    font-size: 25px;
    margin: 9px;
}
.logo {
    padding: 5px;
}
.logo img{
    max-width: 100%;
}
.search a, .cart a {
    text-align: center;
    text-decoration: none;
    color: rgb(40, 20, 105);
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}
.search i, .cart i {
    font-size: 25px;
    margin-bottom: 5px;
}
/* header-menu */
.header-menu {
    background: white;
}
.header-menu ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-menu ul li {
    list-style: none;
    margin: 10px 15px;
}
.header-menu ul li a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 14px;
    margin: 10px 15px;
}
/* navbar */
.navbar {
    background: #1f5f8b;
    padding: 10px 0px;
}
.navbarContent ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.navbarContent ul li{
    list-style: none;
    text-align: center;
    margin: 10px;
    max-width: 150px;
}
.navbarContent img{
    max-height: 60px;
}
.navbarContent ul li a{
    display: flex;
    flex-direction: row;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.collapsible {
    display: none;
    position: relative;
    background: cornflowerblue;
    border: none;
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    text-align: left;
    color: beige;
    cursor: pointer;
    text-transform: uppercase;
}
.collapsible span {
    height: 2px;
    width: 24px;
    background: white;
    position: absolute;
    top: 48%;
    left: auto;
}
.collapsible span::before,
.collapsible span::after {
    content: '';
    height: 2px;
    width: 24px;
    background: white;
    position: absolute;
}
.collapsible span::before {
    top: 6px;
}
.collapsible span::after {
    top: -6px;
}
.active, 
.collapsible:hover {
    background: rgb(91, 136, 221);
}
.navbarContent {
   overflow: hidden;
}

/* header-slider */
.header-sldr {
    background: url(img/pods-backgr.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.bx-wrapper {
    background: transparent !important;
    border: none;
    box-shadow: none;   
}
.slide {
    display: flex;
    justify-content: space-between;
    padding: 30px 5px;
}
.image img {
    position: absolute !important;
    right: 0;
    bottom: 20px;
    height: 90%;;
}
.info {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 30px 45px;
    margin: 30px 0px 30px 0px;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
}
.colorgreen {
    color: #9cc11c;
}
.info p{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}
.info ul{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 14px;
    padding-left: 10px;  
    list-style: none;
}
.info ul li{
    margin: 7px 0;
}
.info ul li:before{
    content: "\f00c";
    font-family: FontAwesome;
    color: #9cc11c;
    padding: 0 15px;
}
.content button{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: #1f5f8b;
    font-size: 15px;
    padding: 5px 30px;  
    border: none;
    margin-bottom: 30px;
}
.bx-pager {
    position: absolute;
    bottom: 0 !important;
    margin-bottom: 20px;
}
/* products */
.products {
    background: white;
    padding: 30px 0px; 
}
h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.products-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products-content>div {
    text-align: center;
    border: 1px solid rgb(223, 217, 217);
    padding: 10px;
    margin: 10px; 
}
.product-image {
    height: 180px;
}
.product-image img{
    max-width: 100%;
}
.product-label {
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}
.product-price {
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.product-card button{
    border: none;
    background: #1891ac;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    padding: 10px 35px;
    margin-bottom: 20px;
}
/* advantages */
.advantages {
    background: #eaeff3;
    padding: 30px 0px; 
}
.adv-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px 0px 30px 0px;
}
.adv-content>div {
    position: relative;
    text-align: right;
    border: 2px solid white;
    padding: 25px 10px;
    margin: 10px; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
.adv-content>div img{
    position: absolute;
    top: -40px;
    left: 15px;
}
/* about */
.about {
    background: white;
    padding: 30px 0px; 
}
.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}
.about-content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.about-content>div img {
    width: 100%;
}
.about-content>div p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 16px;
}
.about-figures {
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
}
.about-figures>div {
    text-align: center;
    margin: 10px 35px;
}
.about-figures>div p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}
.figures {
    color: #263c6e;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}
/* reviews */
.reviews {
    background: #1f5f8b;
}
.review {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    width: 65%;
}
.review p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.client {
    display: flex;
    align-items: center;
    width: 30%;
}
.client-name {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.client p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin-top: 10px;
}
.circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}
/* news */
.news {
    background: white;
}
.news>div {
    padding-bottom: 40px;
}
.news-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.news-card {
    border: 1px solid rgb(228, 224, 224);
    margin: 10px; 
}
.news-img {
    height: 200px;
}
.news-img img{
    /* height: 100%; */
    max-width: 100%;
}
.news-text {
    margin: 15px;
    text-align: left;
}
.news-date {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin: 10px 0px;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 10px 0px;
    text-transform: uppercase;
}
.news-text p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 10px 0px;
}
/* hidden div in news */
.hide, .hide + label ~ div {
    display: none; 
}
.hide + label,
.hide:checked + label {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    padding: 30px 0px;
}
.hide:checked + label {
    /* border-bottom: 1px solid rgb(216, 212, 212); */
}  
.hide:checked + label + div {
    display: grid!important;
}
/* footer */
.footer {
    background: #253b6d;
    padding: 15px 0;
}
.footer-content {
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
}
.footer-content>div {
    padding: 10px 20px; 
}
.footer-content>div img{
    width: 100%; 
}
h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-bottom: 23px;
    color: #1692aa;
    text-transform: uppercase;
}
.footer-content>div p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: white;
    margin: 10px 0px; 
}
.footer-content>div ul{
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: white;
    margin: 10px 0px; 
}
.footer-content>div ul li{
margin: 10px 0px;
}
.footer-content>div a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: white;  
    line-height: 1.5;
}
.footer-content>div i{
    font-size: 35px;
    margin: 15px 15px 15px 0px;
    color: white;  
}
.address {
    line-height: 1.5;
}
.email {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 12px !important;
    color: white;
}
/* trademark */
.trademark {
    display: flex;
    justify-content: center;
}
.trademark p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    padding: 15px;
}