@media (min-width: 300px) and (max-width: 450px) {
    .logo {
        float: none;
        text-align: center;
    }
    .logo img {
        width: 60%;
    }
    .menu {
        float: none;
        text-align: left;
    }
    .menu ul li {
        list-style: none;
        text-align: left;
        float: none;
        padding: 10px 0px;
    }
   .menu ul li a {
       font-size: 18px;
       text-decoration: none;
       color: white;
       padding: 20px 0px;
   }
   .active {
    border: none
   }

   h1 {
        color: white;
        text-align: center;
        padding: 20px 0px 20px 0px;
        font-size: 30px;
    }
    .container {
        width: 90%;
    }
    .chatcontainer {
        width: 80%;
        padding: 20px 20px;
    }
    .chatuser {
        right: 10px;
    }
    .chatleila {
        left: 10px;
    }
    /* data */
    .datacontainer {
        width: 80%;
    }
    .dataimg {
        width: 100%;
        float: none;
    }
    .dataimg img {
        width: 100%
    }
    .datatext {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    
    /* pattern */

    .patterncontainer {
        width: 80%;
        padding: 20px 0px;
    }
    .patternimg {
        width: 100%;
        float: none;
        padding-top: 20px;
    }
    .patterntext {
        width: 100%;
        float: none;
    }
    /* tips */
    
    .tipscontainer {
        width: 80%;
        padding: 30px 0px;
    }
    .tipsimg {
        width: 100%%;
        float: none;
    }
    .tipsimg img {
        width: 100%;
    }
    .tipstext {
        width: 100%;
        float: none;
    }

    /* sales */

    .salescontainer {
        width: 80%;
        padding: 30px 0px 0px 0px;
    }
    .salestips>div {
        float: none;
        width: 80%;
        text-align: left;
        padding: 15px 0px 0px 0px;    
    }

    /* integration */

    .integrationcontainer {
        width: 80%;
        padding: 30px 0px;
    }
    .integrationimg {
        width: 100%;
        float: none;
        position: relative;
        left: 0px;
    }
    /* salesup */

    .salesupcontainer {
        width: 80%;
        padding: 30px 0px;
    }
    .salesupcontainer button {
        font-size: 25px;
        padding: 10px 10px;
    }

    /* footer */

    .footercontainer {
        width: 80%;
    }
    .footerlogo {
        width: 100%;
        float: none;
        padding: 0px;
        text-align: center;
    }
    .footermark {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 30px;
    }
    .footerlink {
        width: 100%;
        text-align: center;
        float: none;
    }
    .footerlogo img {
        padding: 20px 0px;
        height: 100%;
    }
    .footercontainer p {
        font-size: 18px;
    }
    .footerlink ul li {
        float: none;
        padding: 15px 10px 15px 10px;
        font-size: 60px;
    }
    .footerlink p {
        font-size: 18px;
    }
}